<h1>Welcome to Stack Overflow</h1>

<% if current_user %>

  <%= link_to 'Ask Question!', new_question_path, class: 'btn btn-default', remote: true, id: "newQuestion" %>
  <div id="errors"></div>
  <ul id="userQuestions">
    <% current_user.questions.each do |q| %>
    <li><%= link_to q.title, question_path(q) %></li>
    <% end %>
  </ul>

<% end %>
